# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Optional: ignore IDE files
.vscode/
.idea/


# Ignore Excel and other outputs
*.xlsx
*.xlsm
*.csv
*.log


# OS files
.DS_Store
Thumbs.db

# Streamlit logs & cache
.streamlit/
logs/